<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <div class="container-md">
  <% if (user) { %>
    <label for="station-input" class="form-label">Gas Station Added:</label>
    <select class="form-select" size="3" aria-label="Select from options">
      <% stations.forEach(function(station) { %>
        <option><%= station.name %>: <%= station.address %> </option>
      <% }) %>
      </select>
    <form class="row g-4 needs-validation" id="add-station-form" novalidate action="/stations" method="POST" >
      <div class="col-md-6">
      <label for="station-input" class="form-label">New Station Name:</label>
      <select name="name" class="form-select" id="station-input" required>
        <option value="Chevron">Chevron</option>
        <option value="Costco">Costco</option>
        <option value="Esso">Esso</option>
        <option value="Petro-Canada">Petro-Canada</option>
        <option value="Shell">Shell</option>
      </select>
      <div class="valid-feedback">
        Looks good!
      </div>
      </div>
      <div class="col-md-6">
        <label for="address-textarea" class="form-label">Address:</label>
        <input type="text" class="form-control" name="address" id="address-textarea" required></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Add Station</button>
      </div>
    </form>
    <% } else {%>
      <div class="mx-auto" style="width: 500px;">
        <h2>Please Login to Add Gas Stations</h2>
      </div>
    <% } %> 
  </div>
</main>
<%- include('../partials/footer') %>