<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h2>All the Transactions!</h2>
	<ul>
  <% transactions.forEach(transaction => { %>
    <li>
      <a href="/transactions/<%= transaction._id %>">
        <%= transaction.amount/transaction.gasAmount %> Gas Price at 
        <%= transaction.createdAt %>
        <%=  %> 
      </a>
    </li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>