<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Add Transactions!</h1>
  <% if (user) { %>
    <form class="row g-3 needs-validation" novalidate action="/transactions" method="POST">
      <div class="col-md-6">
        <label for="validationCustom01" class="form-label">Amount:</label>
        <input type="text" class="form-control" name="amount" id="validationCustom01">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <div class="col-md-6">
        <label for="gas-amount-input" class="form-label">Gas Amount(L):</label>
        <input type="text" class="form-control" name="gasAmount" id="gas-amount-input">
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      <label for="gas-type-select">Gas Type</label>
      <select name="gasType" id="gas-type-select">
        <option value="87">87</option>
        <option value="89">89</option>
        <option value="91">91</option>
        <option value="94">94</option>
      </select>
      <select name="station">
        <% stations.forEach(station => { %>
          <option value="<%= station._id %>"><%= station.name %>:<%= station.address %> </option>
        <% }) %>
      </select>
      <button type="submit">Add Transaction</button>
    </form>
  <% } else { %>
    <h2>Please Login to Add Transactions!</h2>
  <% } %> 
  
</section>

<%- include('../partials/footer') %>