<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <p>From Gas Station of <%= transaction.station.name %>...</p>
  <% if (transaction.owner.equals(user?.profile._id)) { %>
    <a href="/transactions/<%= transaction._id %>/edit">
      <button class="btn">Update this Transaction</button>
    </a>
    <form 
      action="/transactions/<%= transaction._id %>?_method=DELETE"
      method="POST"
    >
      <button class="btn" type="submit">Delete this transaction ⚠</button>
    </form>

  <% } %>
</section>

<%- include('../partials/footer') %>